{% extends "base.html" %}
{% block extra_css %}
  <link rel="stylesheet" href="{{url_for('static', path = '/admin.css')}}">
{% endblock %}

{% block title %}{{project.title}}{% endblock %}


{% block content %}

{% block header%}<header>{% include "admin/admin_header.html" %}</header>{% endblock %}


<div class="admin-panel">
    <h2>PROJEKTY</h2>
</div>


<div class="admin-section">
    

<div class="container">
    <div class="edit-projects">
        
        <form class="project-form" action="{{url_for('post_edit_project',id = project.id, model_type = 'project')}}" data-endpoint = "{{url_for('post_edit_project',id = project.id,model_type = 'project')}}" method="post" enctype="multipart/form-data">
            
            <input type="text" value="{{project.title}}" name="title">
            <input type="text"  id="" value="{{project.preview}}" name="preview">
            <textarea name="description" id="">{{project.markdown}}</textarea>
            
            <div class="label-input">
                <label for="">Choose image, first image is preview image</label>
                    <input class="file-input" type="file" id="" name = "files" multiple>
                <div class="prev-imgs">
                     {% for img in project.image_url  %}
                    <div class="preview-wrapper">
                            <img src="../../{{img.path}}" class="img-preview" alt="">
                            <p class="img-descr">{{img.name}}</p>
                       
                    </div>
                     {% endfor %}
                    
                           
                </div>

            </div>
            
            
          
            <input type="submit">
        </form>


    </div>
</div>
</div>

{% endblock %}

{% block  js%}<script src="../../static/admin.js"></script>{% endblock %}