{% extends "base.html" %}

{% block content %}

{% block header %}<header>{% include "header.html" %}</header>{% endblock %}
<div class="arrow">
   
    <a href="/blog"><i class="fa-solid fa-arrow-up"></i></a>

</div>




<div class="project-section bg-2 text-2">
    <div class="container-blog bg-2 text-2">
        <div class="project-page">
            <h1>BLOG</h1>
            
            <div class="posts">
            {% for post in posts %}

                
                <div class="blog-item {% if loop.index is even %}even{% else %}odd{% endif %}">
                    <div class="post-img">
                         <img src="{{url_for('static', path = 'img/' ~ post.preview_photo)}}" alt="">

                    </div>

                    <div class="post-wrapper">
                    <div class="post-describe">
                        
                        
                           
                            <div class="post-title">{{post.title}}</div>
                            {% set words = post.description.split() %}
                            {% set preview = words[:20] | join(" ") %}
                            <div class="post-preview-text">{{ preview |safe ~ "..." }}</div>
                            <div class="article-go"><a href="{{url_for('get_post', id = post.id)}}">Celý článek</a></div>
                        </div>

                    </div>


                </div>
                
            {% endfor %}
            </div>
            
         
        </div>
    </div>
</div>








{% include 'footer.html' %}


{% endblock %}

{% block js %}<script src="{{url_for('static', path =  'main.js')}}"></script>{% endblock %}