{% extends "base.html" %}

{% block content %}

{% block header %}<header>{% include "header.html" %}</header>{% endblock %}



<div class="blog-section bg-2 text-2">
     
    <div class="container-blog  bg-2 text-2">
       
        
             <div class="blog-header">
                <div class="blog-photo">
                    <img src="{{url_for('static', path = 'img/' ~ post.preview_photo)}}" alt="">
                </div>
                
                
                <h2>{{post.title}}</h2>


            </div>
            
           
            <div class="blog-content">

                {{post.description | safe }}
            </div>

            <div class="post-line"></div>
            <div class="next-posts">
                
                {% if next_post == None and prev_post == None %}



                    
                
                
                {% elif next_post == None %}
                <div class="prev-next">
                        
                            <p class="desc-art">Předchozí >></p>
                    </div>

                        
                    <div class="articles">
                        <div class="article-preview">
                            <a class="article-img" href="{{url_for('get_post', id = prev_post.id)}}"><img src="{{url_for('static', path = 'img/' ~ prev_post.preview_photo) }}" alt=""></a>
                             <a class="article-title" href="{{url_for('get_post', id = prev_post.id)}}"><p>{{prev_post.title}}</p></a>


                        </div>



                    </div>


                {% elif prev_post == None %}
                    <div class="prev-next">
                        
                            <p class="desc-art"><span><<</span>Následující </p>
                    </div>

                    <div class="articles">
                        <div class="article-preview">
                            <a class="article-img" href="{{url_for('get_post', id = next_post.id)}}"><img src= "{{url_for('static', path = 'img/' ~ next_post.preview_photo) }}" alt=""></a>
                             <a class="article-title" href="{{url_for('get_post', id = next_post.id)}}"><p>{{next_post.title}}</p></a>


                        </div>



                    </div>
                
                    
                
                
                    {% else %}
                    <div class="prev-next">
                        
                            <p class="desc-art"> << Předchozí článek</p>
                            
                            <p class="desc-art">Následující článek >></p>
                    </div>

                        
                    <div class="articles">

                    
                        <div class="article-preview">
                            <a class="article-img" href="{{url_for('get_post', id = next_post.id)}}"><img src="{{url_for('static', path = 'img/' ~ next_post.preview_photo) }}" alt=""></a>
                             <a class="article-title" href="{{url_for('get_post', id = next_post.id)}}"><p>{{next_post.title}}</p></a>


                        </div>

                    

                    
                        
                        <div class="article-preview">
                            <a class="article-img" href="{{url_for('get_post', id = prev_post.id)}}"> <img src="{{url_for('static', path = 'img/' ~ prev_post.preview_photo) }}" alt=""></a>
                           
                             <a class="article-title" href="{{url_for('get_post', id = prev_post.id)}}"><p>{{prev_post.title}}</p></a>


                        </div>
                    </div>
                    
                
               

                {% endif %}

            </div>
           
        
              
            
            
         
        
    </div>
</div>


{% include 'footer.html' %} 

{% block js %}<script src="{{url_for('static', path = 'main.js')}}"></script>{% endblock %}

{% endblock %}

