{% extends "base.html" %}

{% block content %}

{% block header %}<header>{% include "header.html" %}</header>{% endblock %}



<div class="blog-section bg-2 text-2">
     
    <div class="container-blog  bg-2 text-2">
       
        
             <div class="blog-header">
                <div class="blog-photo">
                    <img src="../{{post.img_url[0]}}" alt="">
                </div>
                
                
                <h2>{{post.title}}</h2>


            </div>
            
           
            <div class="blog-content">

                {{post.description | safe }}
            </div>
           
        
              
            
            
         
        
    </div>
</div>


{% include 'footer.html' %} 

{% endblock %}

