{% extends "base.html" %}


{% block content %}

{% block header %}<header>{% include "header.html" %}</header>{% endblock %}

<div class="project-section bg-2 text-2">
     <div class="modal">
        <div class="modal-window">
           
            
            <div class="close-modal">
                <a class="close-modal-btn" href="#">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <line x1="4" y1="4" x2="20" y2="20" stroke="white" stroke-width="3"/>
                        <line x1="20" y1="4" x2="4" y2="20" stroke="white" stroke-width="3"/>
                    </svg>
                </a>
            </div>
                    

            <div class="modal-img"></div>
            <div class="btns-modal">
                  <a class="prev" href="#">◀︎</a>
                <a  class="next" href="#">▶︎</a>
              

            </div>


        </div>

     </div>

    <div class="container-blog bg-2 text-2">
        
        <div class="project-page">
             
            <h1>{{project.title}}</h1>
           
            <div class="project-wrapper">
                <div class="img-preview-wrapper">
                    <div class="project-img-preview"></div>
                        <div class="all-images">
                            {% for i in project.img_url %}
                           
                                <img class="project-images" src="{{ url_for('media', path= 'photos/' ~ i) }}" alt="">
                            {% endfor %}
                    
                            
                        </div>
                    

                </div>
                
                
            
            <div class="project-describe">
                {{project.description | safe }}
            </div>
            
            
            
         
           

        </div>
       


    </div>
</div>
</div>




{% include 'footer.html' %}

{% block js %}

<script src="{{ url_for('static', path = 'project.js') }}"></script>
<script src="{{ url_for('static', path = 'main.js') }}"></script>
{% endblock %}

{% endblock %}

