
{% extends "base.html" %}
{% block title %}Admin Panel{% endblock %}

{% block content %}

<div class="admin-section">
    <div class="container">

        <form class="admin-projects-input" action="{{ url_for('post_admin_pannel') }}" method="POST" enctype="multipart/form-data">
            <div class="form-wrapper">
                <h2>Přidat projekt</h2>

            
                <div class="row-2">
                    <div class="row">
                        
                        <div class="label-input">
                            <label for="">title</label>
                            <input type="text" name="title">

                        </div>
                        

                </div>
                
                
            
                <div class="row">
                    <div class="label-input">
                        <label for="">preview</label>
                        <input type="input" name="preview">

                    </div>
                    

                </div>


                </div>
                
            

                <div class="row">
                    <div class="label-input">
                        <label for="">description</label>
                        <textarea type="input" name = "description"></textarea>


                    </div>
                    
                </div>


                <div class="row">
                    <div class="label-input">
                        <label for="">Choose image, first image is preview image</label>
                        <input type="file" id="" name = "files" multiple>

                    </div>
                    

                </div>

                <div class="row">
                    <input type="submit">

                </div>

            </div>
            
            
            
        </form>


        <div class="admin-projects">
            {% for project in projects %}
                <div>{{project.title}}
                    <a href="{{url_for('delete_project',id = project.id)}}">Smazat</a>
                    <a href="{{url_for('get_edit_project', id = project.id)}}">Upravit</a>

                </div>
            {% endfor %}
        </div>

    </div>


    
</div>



   

{% endblock %}
